{% comment %}
  local variables:
    - nav_tree: 当前渲染的导航树
    - depth: 当前渲染的深度
{% endcomment %}
{%# locals:(nav_tree:, depth: 0) %}

{% unless depth %}
  {% assign depth = 0 %}
{% endunless %}
{% if depth == 0 %}
  <ul class="menu w-full" id="index_list_tree" data-controller="nav-tree" data-nav-tree-active-class="menu-active">
{% else %}
  <ul>
{% endif %}

  {% for tree in nav_tree %}
    {% if tree.children %}
      <li>
        <details>
          <summary data-nav-tree-target="item">
            {% if depth == 0 %}
              <svg
                class="shrink-0 cursor-pointer"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path class="fill-purple-400" d="M19.888 7.804a.88.88 0 0 0-.314-.328l-7.11-4.346a.889.889 0 0 0-.927 0L4.426 7.476a.88.88 0 0 0-.314.328L12 12.624l7.888-4.82Z" />
                <path class="fill-white dark:fill-slate-800" d="M4.112 7.804a.889.889 0 0 0-.112.43v7.892c0 .31.161.597.426.758l7.11 4.346c.14.085.3.13.464.13v-8.736l-7.888-4.82Z" />
                <path class="fill-purple-600" d="M19.888 7.804c.073.132.112.28.112.43v7.892c0 .31-.161.597-.426.758l-7.11 4.346c-.14.085-.3.13-.464.13v-8.736l7.888-4.82Z" />
              </svg>
            {% endif %}
            <div>
              <a href="{{ tree.path }}">{{ tree.link_text }}</a>
            </div>
          </summary>
          {% assign newDepth = depth | plus: 1 %}
          {% render 'nav_tree', nav_tree: tree.children, depth: newDepth %}
        </details>
      </li>
    {% else %}
      <li>
        <summary>
          {% if depth == 0 %}
            <svg
              class="shrink-0"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path class="fill-sky-400" d="M19.888 7.804a.88.88 0 0 0-.314-.328l-7.11-4.346a.889.889 0 0 0-.927 0L4.426 7.476a.88.88 0 0 0-.314.328L12 12.624l7.888-4.82Z" />
              <path class="fill-white dark:fill-slate-800" d="M4.112 7.804a.889.889 0 0 0-.112.43v7.892c0 .31.161.597.426.758l7.11 4.346c.14.085.3.13.464.13v-8.736l-7.888-4.82Z" />
              <path class="fill-sky-600" d="M19.888 7.804c.073.132.112.28.112.43v7.892c0 .31-.161.597-.426.758l-7.11 4.346c-.14.085-.3.13-.464.13v-8.736l7.888-4.82Z" />
            </svg>
          {% endif %}
          <div>
            <a data-nav-tree-target="item" href="{{ tree.path }}">{{ tree.link_text }}</a>
          </div>
        </summary>
      </li>
    {% endif %}
  {% endfor %}
</ul>
