{%# locals:(nav_tree:, depth: 0) %}
{% unless depth %}
  {% assign depth = 0 %}
{% endunless %}
{% if depth == 0 %}
    <ul class="menu w-full" id="nav-tree" data-turbo-permanent data-turbo-frame="frame--page-detail" data-controller="nav-tree" data-nav-tree-active-class="menu-active">
{% else %}
  <ul>
{% endif %}

  {% for tree in nav_tree %}
    {% if tree.children %}
      <li>
        <details>
          <summary data-nav-tree-target="item"><a href="{{ tree.path }}">{{ tree.link_text }}</a></summary>
          {% assign newDepth = depth | plus: 1 %}
          {% render 'nav_tree', nav_tree: tree.children, depth: newDepth %}
        </details>
      </li>
    {% else %}
      <li><a data-nav-tree-target="item" href="{{ tree.path }}">{{ tree.link_text }}</a></li>
    {% endif %}
  {% endfor %}

</ul>