{% layout none %}
<turbo-stream action="remove" target="js--feedback-modal"></turbo-stream>

<turbo-stream action="append" target="js--body">
  <template>
    <dialog id="js--feedback-modal" class="modal">
      <div class="modal-box">
        {% render 'feedback_form', page: page %}
      </div>
    </dialog>
    <script>
      document.getElementById('js--feedback-modal').showModal();
    </script>
  </template>
</turbo-stream>
