{% layout none %}

<turbo-stream action="remove" target="js--feedback-modal"></turbo-stream>

{% # 更新feedback按钮 %}
<turbo-stream action="replace" target="js--feedback-{{ page.id }}">
  <template>
    {% render 'feedback_button', page: page %}
  </template>
</turbo-stream>

<turbo-stream action="append" target="js--body">
  <template>
    <div class="toast toast-top toast-start">
      <div class="alert alert-success">
        <span>{{ 'templates.feedback_success_turbo_stream.success' | t }}</span>
      </div>
    </div>
  </template>
</turbo-stream>