<div class="px-4">
	<div class="w-full max-w-[var(--max-content-width)] mx-auto grid grid-cols-1 lg:grid-cols-[var(--left-sidebar-width)_1fr] gap-6 md:pt-4 [&.has-toc]:lg:grid-cols-[var(--left-sidebar-width)_1fr_var(--right-sidebar-width)]"
		data-controller="toc"
		data-toc-header-selector-value=".js--header"
		data-toc-offset-value="10"
		data-toc-clipboard-success-value="{{ 'templates.page.copy_success' | t: '链接已复制' }}"
	>
		<!-- 左侧导航树 -->
		<aside class="hidden lg:block">
			<div class="sticky top-[calc(var(--header-height)_+_1rem)] max-h-[calc(100vh-var(--header-height)-4rem)] max-w-full w-full overflow-auto bg-base-200 rounded-box">
				{% render 'nav_tree', nav_tree: site.nav_tree %}
			</div>
		</aside>
		<!-- 中间内容 -->
		<div class="px-0 lg:px-4 overflow-hidden">
			{% render 'breadcrumb', breadcrumb: page.breadcrumb  %}

			{% if page.settings.show_list %}
				{% assign sub_pages = page.children_in_list %}
				{% render 'page_list', page: page, pages: sub_pages %}
			{% else %}
				{% render 'page', page: page %}
			{% endif %}

		</div>
		<!-- 右侧 TOC -->
		<aside class="print:hidden hidden lg:block">
			<div class="sticky top-[calc(var(--header-height)_+_1rem)] max-h-[calc(100vh-var(--header-height)-4rem)] max-w-full w-full overflow-auto bg-base-200 rounded-box" data-toc-target="menu">
				<div class="menu">
					<div class="menu-title">{{ 'templates.page.page_toc' | t }}</div>
					<div data-toc-target="links"></div>
				</div>
			</div>
		</aside>
	</div>
</div>

{% schema %}
{
	"name": "t:schema.templates.page.name",
	"description": "t:schema.templates.page.description",
	"thumb_url": "images/schema/page.png",
	"sub_page_templates": ["page"],
	"settings": [
		{
			"id": "show_list",
			"type": "checkbox",
			"default": "false",
			"label": "t:schema.templates.page.settings.show_list.label",
			"info": "t:schema.templates.page.settings.show_list.info"
		},
		{
			"id": "is_topic_channel",
			"type": "checkbox",
			"default": "false",
			"label": "t:schema.templates.page.settings.is_topic_channel.label",
			"info": "t:schema.templates.page.settings.is_topic_channel.info",
			"queryable": true
		},
		{
			"id": "tags",
			"type": "tag_picker",
			"multiple": true,
			"label": "t:schema.templates.page.settings.tags.label",
			"queryable": true
		},
		{
			"id": "icon",
			"type": "image_picker",
			"ratio": "1:1",
			"width": 100,
			"label": "t:schema.templates.page.settings.icon.label",
			"info": "t:schema.templates.page.settings.icon.info"
		},
		{
			"id": "title",
			"type": "text",
			"readonly": true,
			"label": "t:schema.templates.page.settings.title.label",
			"info": "t:schema.templates.page.settings.title.info"
		},
		{
			"id": "description",
			"type": "textarea",
			"label": "t:schema.templates.page.settings.description.label"
		},
		{
			"id": "content",
			"type": "richtext",
			"label": "t:schema.templates.page.settings.content.label",
			"readonly": true,
			"info": "t:schema.templates.page.settings.content.info"
		}
	]
}
{% endschema %}
